<div class="colom">
  <div class="container">
    <div class="moveBody">
    <div class="row">
      <div class="col-md-5 country">
        <div class="row">
          <img width="38px" height="25" class="flag" src="./assets/colflag.png" alt="">
          <h1><strong>Cartagena</strong></h1>
        </div>
        <p>The sea breeze and the sunset that transform the colors of 400-year-old houses enchant visitors in Cartagena de Indias. A World Heritage Site, this city was founded by Pedro de Heredia in 1533; the colonial architecture of its buildings is protected by the most complete set of fortifications in South America.</p>
        </div>
        <div class="col-md-7">
          <img class="img" height="80%" width="100%" src="./assets/carta.jpg" alt="">
        </div>
      </div>
      <nav class="navbar navbar-expand-md bg-light navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link city" href="/bogota" >Bogotá</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/medellin">Medellín</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/cartagena">Cartagena</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/cali">Cali</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/carrib">Carribean Coast</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Getting Here</p>
        </div>
        <div class="col-md-9">
          <p>The Rafael Núñez International Airport, is the busiest airport in Colombia's Caribbean region and the fourth in passenger traffic in the country. The code of the airport is CTG, having flights to almost all airports in Colombia including Bogota's El Dorado International Airport.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Unique Experiences</p>
        </div>
        <div class="col-md-9">
          <p>Known for the 6.8 miles of walls built around it by the Spanish, Cartagena has a historic center that should be explored slowly and without a care in the world. A number of festivals devoted to film and classical music are held here. Declared a UNESCO World Heritage Site in 1984, Cartagena is ideal for honeymoons, scuba diving, and cruises, among other activities.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Can't Miss</p>
        </div>
        <div class="col-md-9">
          <p>The city is an open-air museum, filled with colonial treasures, but it has a lot more to offer than history and culture. Cartagena is a sunshine and beach destination too with watersports and traditional handicrafts among the many draws for visitors. The magic of Cartagena, Colombia lies in the foundations of its fortifications, the warmth of its inhabitants, the richness of its architecture and the infinite cultural expressions of its brave and resilient people.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Sightseeing</p>
        </div>
        <div class="col-md-9">
          <p>The historic center enclosed by the walls of Cartagena is the soul of the city that inspired Gabriel García Márquez, who won the Nobel Prize for Literature in 1982. In addition to taking in the history of centuries-old cobblestone streets, you can explore the Castle of San Felipe, experience the wonder of the city’s many churches, and even enjoy a leisurely swim in a nearby mud volcano. <br>It’s a pleasure to stroll through the streets of Cartagena and observe its colonial treasures, such as the Palace of the Inquisition and the Clock Tower, and enjoy the warm and gentle breeze that wanders through its parks and squares.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
