
<div class="body1">


<div class="container ">

<div class="moveBody">
<h1>Who are the Frugal Flyers?</h1>

<p>Frugal flyers is composed of a group of youthful yet mature quarky travel enthusits. We work hard to find the lowest prices on the market, so you dont have to.</p>
<div class="moveImage">
 <img class="move" src="./assets/group.jpg" alt="">
 <div class="eddie"><b></b></div>
 <div class="eliot"><b></b></div>
<div class="curt"><b></b></div>
  <div class="derek"><b></b></div>
<div class="swati"><b></b></div>
<div class="james"><b></b></div>
<div class="randy"><b></b></div>


<p>Eddie Harris, Eliot Charette, Curt Caldwell, Derek Hammer, Swati Sahay, James Hanley</p>
</div>

</div>
</div>
</div>
