.img {
  border: 0;
  width: 100%;
}
.flag {
  height: 25px;
  width: 38px;
}
/*.country {
  background-image: url("/assets/colflag.png");
  background-repeat: no-repeat;
height: 50px;
width: 50px;
}*/

li {
    display: block;
    color: black;
    padding: 20px 50px;

}

li a:hover {
    background-color: lightgrey;
}
