
<div class="container">

<div class="row">
  <div class="col-md-5 country">
    <div class="row">
      <img width="38px" height="25" class="flag" src="./assets/colflag.png" alt="">
    <h1>Colombia</h1>
   </div>
    <p>With a culture as vibrant as its diverse landscape, Colombia offers something for everyone. Coastlines on both the pacific and carribean, the Amazon rainforest, and strethes of the Andes Mountains make Colombia the second most biodiverse country in the world. Just like the term 'Magical Realism', famously coined by Colombian nobel
    laureate Gabriel Garcia Marquez, Colombia is a place where you can find
    magic and wonder as you connect with the people and nature on your
    way through this breathtaking land. </p>
  </div>
  <div class="col-md-7">
    <img class="img" height="476px" width="700px" src="./assets/cartagena.jpg" alt="">
  </div>
</div>
<nav class="navbar navbar-expand-md bg-light navbar-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Bogotá</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Medellín</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cartagena</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cali</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Carribean Coast</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-3">
    <p>Getting Here</p>
  </div>
  <div class="col-md-9">
    <p>With the recent influx of tourism to Colombia, the government has been remodeling and expanding its airports. Daily direct flights from Europe, North and South America to Bogotá or Medellín make it easy to arrive.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>Transportation</p>
  </div>
  <div class="col-md-9">
    <p>Once here transportation is fairly easy. Smaller budget airlines like VivaColombia make it very cheap to get around, a roundtrip flight from Bogotá to Cartagena is usually around $100USD if bought in advance. While the government has put a lot funds in the Countries highway system, the mountainous landscape makes a seemingly short trip take a lot longer. However there are plenty of great bus options that shouldnt be passed up if you have the time.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>Sleeping and Eating</p>
  </div>
  <div class="col-md-9">
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>Sightseeing</p>
  </div>
  <div class="col-md-9">
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  </div>
</div>





</div>
