<div class="colom">
  <div class="container">
    <div class="moveBody">
    <div class="row">
      <div class="col-md-5 country">
        <div class="row">
          <img width="38px" height="25" class="flag" src="./assets/colflag.png" alt="">
          <h1><strong>Colombia </strong></h1>
        </div>
        <p>With a culture as vibrant as its diverse landscape, Colombia offers something for everyone. Coastlines on both the pacific and carribean, the Amazon rainforest, and strethes of the Andes Mountains make Colombia the second most biodiverse country in the world. Just like the term 'Magical Realism', famously coined by Colombian nobel
          laureate Gabriel Garcia Marquez, Colombia is a place where you can find
          magic and wonder as you connect with the people and nature on your
          way through this breathtaking land. </p>
        </div>
        <div class="col-md-7">
          <img class="img" height="80%" width="100%" src="./assets/cartagena.jpg" alt="">
        </div>
      </div>
      <nav class="navbar navbar-expand-md bg-light navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link city" href="/bogota" >Bogotá</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/medellin">Medellín</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/cartagena">Cartagena</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/cali">Cali</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/carrib">Carribean Coast</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Getting Here</p>
        </div>
        <div class="col-md-9">
          <p>With the recent influx of tourism to Colombia, the government has been remodeling and expanding its airports. Daily direct flights from Europe, North and South America to Bogotá or Medellín make it easy to arrive.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Transportation</p>
        </div>
        <div class="col-md-9">
          <p>Once here transportation is fairly easy. Smaller budget airlines like VivaColombia make it very cheap to get around, a roundtrip flight from Bogotá to Cartagena is usually around $100USD if bought in advance. While the government has put a lot funds in the Countries highway system, the mountainous landscape makes a seemingly short trip take a lot longer. However there are plenty of great bus options that shouldnt be passed up if you have the time.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Money</p>
        </div>
        <div class="col-md-9">
          <p>The currency is the Colombian Peso. $1 USD is roughly $3,000 Colombia Peso. Your average meal in a restaurant will cost you $4-8 USD. Street food snacks go for $1-2 and most beers in restaurants go for about a $1.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Overview</p>
        </div>
        <div class="col-md-9">
          <p>Colombia has major attractions for a tourist destination, such as Cartagena and its historic surroundings, which are on the UNESCO World Heritage List; the insular department of San Andrés, Providencia y Santa Catalina; and Santa Marta and the surrounding area. The coffee region is also a very popular destination, especially the city of Armenia and its surroundings. Fairly recently, Bogotá, the nation's capital, has become Colombia's major tourist destination because of its improved museums and entertainment facilities and its major urban renovations, including the rehabilitation of public areas, the development of parks, and the creation of an extensive network of cycling routes. With its very rich and varied geography, which includes the Amazon and Andean regions, the llanos, the Caribbean and Pacific coasts, and the deserts of La Guajira, and its unique biodiversity, Colombia also has major potential for ecotourism</p>
        </div>
      </div>
    </div>
    </div>
  </div>
