
<div class="body1">


<div class="container">

<div class="moveBody">


<div class="row top">
  <div class="col-md-6">
    <h1 class="title">Italy</h1>
    <div class="moveQuote">
      <p class="quote"> - "Belle parole non pascon i gatti."</p>
    </div>

  </div>
  <div class="moveImage">
    <div>
        <img class="mainImage" src="./assets/rome.jpg" alt="">
    </div>
</div>

  <div class="col-md-6">
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Information</p>
  </div>
  <div class="col-md-9">
    <p>Italy, officially the Italian Republic is a sovereign state in Europe. Located in the heart of the Mediterranean Sea, Italy shares open land borders with France, Switzerland, Austria, Slovenia, San Marino and Vatican City. Italy covers an area of 301,340 km2 (116,350 sq mi) and has a largely temperate seasonal and Mediterranean climate. With around 61 million inhabitants, it is the fourth-most populous EU member state and the most populous in southern Europe</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Transportation</p>
  </div>
  <div class="col-md-9">
    <p>You have to walk</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Money</p>
  </div>
  <div class="col-md-9">
    <p> Italys currency is the Euro. The official currency of the European Union (EU) and other non-EU countries (Kosovo, Montenegro). The design was presented to the public by the European Commission on 12 December 1996</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Eating</p>
  </div>
  <div class="col-md-9">
    <p>The Italian cuisine has developed through centuries of social and political changes, with roots as far back as the 4th century BC. Italian cuisine in itself takes heavy influences, including Etruscan, ancient Greek, ancient Roman, Byzantine, and Jewish. Significant changes occurred with the discovery of the New World with the introduction of items such as potatoes, tomatoes, bell peppers and maize, now central to the cuisine but not introduced in quantity until the 18th century. Italian cuisine is noted for its regional diversity, abundance of difference in taste, and is known to be one of the most popular in the world, wielding strong influence abroad.
    </p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Sightseeing</p>
  </div>
  <div class="col-md-9">
  <p><strong>EAST</strong></p>
  <p>Italy's east coast runs along the Adriatic Sea from the border of Slovenia to the heel of the boot, the Salento Peninsula. A rail line runs along the coast from the city of Trieste in the north to Lecce in the south, although it's necessary to change trains at least once to make the entire trip. A highway also runs along the coast so it's possible to drive the whole route.

Our Adriatic Coast itinerary starts in the northeast region of Friuli-Venezia Giulia.​ ​Grado and Lignano are top seaside resort towns in this area. The Lagoons of  Marano and Grado are dotted with small islands and are full of birds so it's a great area for boat excursions. There's a small airport at Trieste.

Of course, the most visited place on Italy's east coast is the city of Venice, one of Italy's top cities and most romantic places. Venice is a city of canals and its main square, Piazza San Marco, is the top place to go in the city. Venice's architecture is a unique blend of eastern and western styles and sights include the unusual Saint Mark's Basilica, the Doge's Palace, and stunning churches and mansions.</p>
  <p><strong>WEST</strong></p>
  <p>The west coast of Italy and the islands of Sicily and Sardinia are part of the Mediterranean and are often visited on a Mediterranean cruise but they can also be explored by train, plane, or car. A rail line runs down the west coast from the French border all the way to Sicily. By car, you can drive from the border all the way to Calabria, the toe of the boot, and take the car ferry to Sicily.

You could make a travel itinerary with several places on the Mediterranean coast or choose just one of these top seaside destinations for your vacation and spend a week or two there. Let's take a look at the top places to go in Italy on a Mediterranean vacation, starting from the north.</p>
  <p><strong>North</strong></p>
  <p>The northern region of Italy is known locally as Il Nord or Settentrione and consists of eight separate regions – Peidmont, Liguria, Aosta Valley, Veneto, Emilia-Romagna, Lombardy, Friuli-Venezia Giulia and Trentino-Alto. In terms of population, this region of Italy has an estimated population of at least 27.2 million inhabitants. Northern Italy has a diverse geography due to its two coastal regions, and the mountainous region of the Alps and Apennines. Parts of the region are packed full with dramatic mountain landscapes, whilst other areas particularly on the eastern coast are flat on entering the Adriatic Sea. This part of Italy is actually the most economically productive and has a host of important manufacturing regions that help give it one of the highest GDPs per capita in Europe.</p>
  <p><strong>SOUTH</strong></p>
  <p>Southern Italy is a vast region that contains the provinces of Abruzzo, Apulia, Basilicata, Campania, Calabria, Molise and Sicily – Sardinia is also sometimes included in this region but this island has less in common with the rest of Southern Italy and has differing culture and traditions. This region of Italy has been inhabited by many different civilisations since antiquity including the Greeks, Romans, Etruscans, Arabs, Normans and Byzantines. This diverse inhabitation is mainly due to the regions accessibility from the Adriatic, Ionian and Mediterranean seas.</p>
  </div>
</div>

</div>
</div>
</div>
