<div class="body1">


<div class="container">

<div class="moveBody">


<div class="row top">
  <div class="col-md-6">
    <h1 class="title">Iceland</h1>
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Information</p>
  </div>
  <div class="col-md-9">
    <p>Located in the North-Atlantic ocean close by the Arctic Circle, Iceland is very much a bridge between continents. It takes approximately five hours to fly from New York to Reykjavík, and three hours from London. Thanks to the Gulf Stream, Iceland enjoys a cool, temperate maritime climate, with refreshing summers and surprisingly mild temperatures in winter. Icelandic culture has been shaped by isolation and the extreme forces of nature. These conditions have created a resilient people, where family ties are close, the sense of tradition is strong, and the bond with nature is tight.</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Transportation</p>
  </div>
  <div class="col-md-9">
    <p>You have to walk</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Money</p>
  </div>
  <div class="col-md-9">
    <p>The króna is the currency of Iceland. Iceland is the smallest country to have its own currency and monetary policy. Like the Nordic currencies (such as the Danish krone, Swedish krona and Norwegian krone) that participated in the historical Scandinavian Monetary Union, the name króna (meaning crown) comes from the Latin word corona ("crown"). The name "Icelandic crown" is sometimes used, for example in the financial markets. The word eyrir derives from Latin aureus ("golden"), there being historically 100 gold pieces to a crown</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Eating</p>
  </div>
  <div class="col-md-9">
    <p>The most important ingredient in Icelandic cuisine is location. Iceland is blessed with an abundance of fresh water, clean nature and fertile fishing grounds, while geothermal energy makes it possible to supply a year-round offering of fresh vegetables, grown locally in organic greenhouses.
      In the past few years, Iceland has emerged as one of Europe's most dynamic gastronomic destinations, full of exciting places to taste thrilling new recipes. Chefs create modern dishes with traditional ingredients, influenced by the philsosophy of the New Nordic Cuisine, where freshness and local seasonal ingredients play a vital role.

  A staple of Icelandic cuisine is fresh caught fish. Some of the richest fishing grounds in the North Atlantic can be found off the coast of Iceland, where cool and warm ocean currents meet to create the ideal conditions for fish stocks to thrive. For centuries, fishing has been an essential part of both Icelandic history and culture. It has been the lifeline of the nation, both as a vital part of the diet, and the primary export product. Rigorous standards are in place to maintain sustainable fisheries, and optimal treatment of the catch. Try one of the many Icelandic fishing restaurants, and you will understand why the locals will have you believe they invented the thing.

  Icelandic lamb is also a popular ingredient. Sheep roam the open countryside all summer long, feeding on wild berries and moss. Come fall, they are rounded up on horseback, the way it has been done since the time of the earliest settlers. This free-range flavour comes through in succulent Icelandic lamb, praised by chefs all over the world.
</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Sightseeing</p>
  </div>
  <div class="col-md-9">
  <p><strong>EAST</strong></p>
  <p>Discover the wonders of the East. The east coast of Iceland is home to the country's largest forest, lush farmlands and a range of small fjords and islands. Thanks to the East's many natural harbors, a variety of fishing villages, and small seaside communities border the coast.</p>
  <p><strong>WEST</strong></p>
  <p>West Iceland is one of Iceland's most geologically diverse regions. Its natural wonders are a nearly exhaustive sampling of all that Iceland has to offer, ranging from slumbering volcanos and majestic waterfalls to a variety of flora and wildlife.</p>
  <p><strong>WESTFJORDS</strong></p>
  <p>One of Iceland's best kept secrets is undoubtedly the country's north-west corner, usually known as the Westfjords. Isolation has preserved the region in relatively unspoiled wilderness. Largely uninhabited, Iceland's Westfjords are frequently distinguished by travel guides as a destination of excellence, and are a must-see for any serious explorer.</p>
  <p><strong>SOUTH</strong></p>
  <p>Gullfoss, Geysir and so much more Iceland's south coast is home to some of the country's most visited tourist attractions. The coastline itself is renowned for its beauty, and the towns along the coast are famous for their fresh seafood.</p>
  <p><strong>REYKJAVÍK</strong></p>
  <p>The little capital with the big heart. With a population of 120,000, Reykjavík is not a whirlwind metropolis. Few skyscrapers grace the skyline, traffic jams are rare and faces are familiar. But don't be deceived—a steady beat of energy and events keeps the city alive and pulsing with excitement. Sunny days feel like spontaneous holidays in Reykjavík. Sunbathers and picnickers fill Austurvöllur, the green square in front of Parliament; locals and tourists alike stroll up and down Laugavegur, the main drag, shopping, stopping for coffee, and people watching. The thirsty jockey for sparse outdoor seating at bars as happy hour rolls around. Crooning buskers line the sidewalk; performance artists stage surprise acts; maybe a marching band appears from the ether. Anything can happen.</p>
  <p><strong>REYKJANES</strong></p>
  <p>The amazing lava fields of Reykjanes. The Reykjanes peninsula is a geothermal wonder, where lighthouses outnumber villages. Besides hosting the Keflavík International Airport and, just a few minutes away, the spectacular Blue Lagoon, the Reykjanes peninsula is a destination in its own right.</p>
  <p><strong>HIGHLANDS</strong></p>
  <p>The great escape. For centuries, the interior of Iceland was virtually inaccessible, for years at a time playing host only to outlaws in hiding. Via the mountain roads Kjölur and Sprengisandur, the untouched wilderness of Iceland's mountainous centre is now open to the general public—for cautious exploration by foot or 4x4 vehicles—in the summer months.</p>
  </div>
</div>

</div>
</div>
</div>
