<div class="body1">


<div class="container">

<div class="moveBody">


<div class="row top">
  <div class="col-md-6">
    <h1 class="title">New Zealand</h1>
    <div class="moveQuote">
      <p class="quote"> - "Who lives in a quiet house has plenty."</p>
    </div>

  </div>
  <div class="moveImage">
    <div>
        <img class="mainImage" src="./assets/z2.jpg" alt="">
    </div>
</div>

  <div class="col-md-6">
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Information</p>
  </div>
  <div class="col-md-9">
    <p>New Zealand (Māori: Aotearoa [aɔˈtɛaɾɔa]) is a sovereign island country in the southwestern Pacific Ocean. The country geographically comprises two main landmasses—the North Island (Te Ika-a-Māui), and the South Island (Te Waipounamu)—and around 600 smaller islands. New Zealand is situated some 1,500 kilometres (900 mi) east of Australia across the Tasman Sea and roughly 1,000 kilometres (600 mi) south of the Pacific island areas of New Caledonia, Fiji, and Tonga. Because of its remoteness, it was one of the last lands to be settled by humans. During its long period of isolation, New Zealand developed a distinct biodiversity of animal, fungal, and plant life. The country's varied topography and its sharp mountain peaks, such as the Southern Alps, owe much to the tectonic uplift of land and volcanic eruptions. New Zealand's capital city is Wellington, while its most populous city is Auckland.</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Transportation</p>
  </div>
  <div class="col-md-9">
    <p>You have to walk</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Money</p>
  </div>
  <div class="col-md-9">
    <p>The New Zealand dollar is the official currency and legal tender of New Zealand, the Cook Islands, Niue, the Ross Dependency, Tokelau, and a British territory, the Pitcairn Islands.[1] Within New Zealand, it is almost always abbreviated with the dollar sign ($), with "NZ$" sometimes used to distinguish it from other dollar-denominated currencies. In the context of currency trading, it is often informally called the "Kiwi" or "Kiwi dollar",[2] since New Zealand is commonly associated with the indigenous bird and the one-dollar coin depicts a kiwi.</p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Eating</p>
  </div>
  <div class="col-md-9">
    <p>New Zealand's wine and food is amongst the best in the world. Taste is paramount. Talented and innovative chefs combine ingredients freshly harvested from garden, land and sea while Pacific influences, organics and indigenous foods create a unique experience – whether that’s fine dining or casual outdoor meals, cellar door tasting, mingling with the locals at farmers markets, or an authentic Māori hangi experience.
    </p>
  </div>
</div>
<div class="row move">
  <div class="col-md-3">
    <p class="name">Sightseeing</p>
  </div>
  <div class="col-md-9">
  <p><strong>WAIHEKE</strong></p>
  <p>Home to a magical blend of vineyards, olive groves, beaches, art studios and funky cafes, Waiheke Island is an enchanting oasis. Sip New Zealand’s finest wines at one of the many vineyards while enjoying sea views. See more Auckland experiences.</p>
  <p><strong>Queenstown</strong></p>
  <p>Queenstown is the perfect place for an adventure. Experience jet boat rides, skiing, river rafting, hiking and biking, or go bungy jumping where it all began. Not for you? Try wine-tasting, spa treatments or alfresco dining for a relaxing alternative. See more Queenstown experiences.</p>
  <p><strong>Milford</strong></p>
  <p>Depart from Queenstown or Te Anau and enjoy an afternoon cruise around Milford Sound's dramatic fiords, spectacular waterfalls and snow-capped peaks. Other ways to see the "Eighth Wonder of the World" is by flightseeing, kayaking or overnight boat ride. See more Fiordland experiences.</p>
  <p><strong>Bay of Islands</strong></p>
  <p>Just 3.5 hours from Auckland is Paihia, a great base to explore this aquatic playground of 144 beautiful islands. Swim with dolphins, take a cruise, relax on golden beaches and visit the historic Waitangi Treaty Grounds. Must-do Northland experiences. </p>
  </div>
</div>

</div>
</div>
</div>
