<div class="colom">
  <div class="container">
    <div class="moveBody">
    <div class="row">
      <div class="col-md-5 country">
        <div class="row">
          <img width="38px" height="25" class="flag" src="./assets/colflag.png" alt="">
          <h1><strong>Carribean Coast</strong></h1>
        </div>
        <p>Bogotá is Colombia’s sprawling, high-altitude capital. La Candelaria, its cobblestoned center, features colonial-era landmarks like the neoclassical performance hall Teatro Colón and the 17th-century Iglesia de San Francisco. It's also home to popular museums including the Museo Botero, showcasing Fernando Botero's art, and the Museo del Oro, displaying pre-Columbian gold pieces. </p>
        </div>
        <div class="col-md-7">
          <img class="img" height="80%" width="100%" src="./assets/santa.jpg" alt="">
        </div>
      </div>
      <nav class="navbar navbar-expand-md bg-light navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link city" href="/bogota" >Bogotá</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/medellin">Medellín</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/cartagena">Cartagena</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/cali">Cali</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/carrib">Carribean Coast</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Getting Here</p>
        </div>
        <div class="col-md-9">
          <p>Bogotá's main airport is El Dorado International Airport, located west of the city's downtown. It is the third most important airport in Latin America after Mexico City International Airport and São Paulo–Guarulhos International Airport and it is the most important airport in Colombia. With the recent influx of tourism to Colombia, the airpot has ungone a major remodeling and expansion. Daily direct flights from Europe, North and South America to Bogotá make it easy to arrive.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Unique Experiences</p>
        </div>
        <div class="col-md-9">
          <p>Bogotá is the capital and largest city in Colombia. A melting pot of people from around the country, it is diverse and multicultural, with a blend of modern and colonial architecture. The predominant colors in Bogotá are the green of the city’s many parks and the eastern mountains overlooking the sanctuaries of Monserrate and Guadalupe, and the rich red of its many brick buildings.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Cant Miss</p>
        </div>
        <div class="col-md-9">
          <p>Taking place annually in mid April, FILBO is an annual international book fair that attracts visitors from all over the world. The Bogotá International Book Fair started in 1987, after identifying a need to hold a professional fair that would foster the development of a massive promotional reading campaign, through a national and international interest cultural program, and an organized quality exhibition of national and international publishing funds. The Fair is one of the most representative and traditional cultural events of our country but specifically in Colombia’s capital city. In addition, it is internationally recognized and has become one of the most important high level events in Latin America.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Sightseeing</p>
        </div>
        <div class="col-md-9">
          <p>Important landmarks and tourist stops in Bogotá include the botanical garden José Celestino Mutis, La Quinta de Bolivar, the national observatory, the planetarium, Maloka, the Colpatria observation point, the observation point of La Calera, the monument of the American flags, and La Candelaria (the historical district of the city). There is also Usaquen, a colonial landmark where brunch and flea market on Sundays is a traditional activity. The city has numerous green parks and amusement parks like Salitre Magico or Mundo Aventura. Green areas surrounding Bogota are perfect locations for eco-tourism and hiking activities, in the eastern mountains of the city, just a few minutes walking from main roads, there are Quebrada La vieja and Chapinero Waterfalls, two of many green spots for sightseeing and tourism with clean air.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
