<div class="colom">
  <div class="container">
    <div class="moveBody">
    <div class="row">
      <div class="col-md-5 country">
        <div class="row">
          <img width="38px" height="25" class="flag" src="./assets/colflag.png" alt="">
          <h1><strong>Medellín</strong></h1>
        </div>
        <p>Medellín is the capital of Colombia’s mountainous Antioquia province. Nicknamed the “City of Eternal Spring” for its temperate weather, it hosts a famous annual Flower Festival. Modern metrocables link the city to surrounding barrios and offer views of the Aburrá Valley below. Sculptures by Fernando Botero decorate downtown's Botero Plaza, while the Museo de Antioquia displays more of the Colombian artist’s work. </p>
        </div>
        <div class="col-md-7">
          <img class="img" height="80%" width="100%" src="./assets/medallo.jpg" alt="">
        </div>
      </div>
      <nav class="navbar navbar-expand-md bg-light navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link city" href="/bogota" >Bogotá</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/medellin">Medellín</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/cartagena">Cartagena</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/cali">Cali</a>
            </li>
            <li class="nav-item">
              <a class="nav-link city" href="/carrib">Carribean Coast</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Getting Here</p>
        </div>
        <div class="col-md-9">
          <p>International airport, José María Córdova Airport is located in the city of Rionegro 18 miles east of the city of Medellín. The Jose Maria Cordova Airport receives international flights from important carriers such as American Airlines, Copa Airlines, JetBlue and Lan Airlines, which makes the city accessible from the many regions of America. Avianca, the flag air-carrier of Colombia, has also an important activity at this airport.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Unique Experiences</p>
        </div>
        <div class="col-md-9">
          <p>From the mountains that surround the capital of Antioquia you can see how the Medellín River runs parallel to the Metro, which connects various parts of the city. There is an abundance of parks, libraries, museums and public spaces where many Cultural events take place. Flowers have their own fair and in the surrounding villages life is simple with relaxing landscapes and nature reserves.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Cant Miss</p>
        </div>
        <div class="col-md-9">
          <p> The two biggest festivals are Festival of the Flowers (Feria de las Flores) and the Christmas Lighting Festival (El Alumbrado). Feria de las Flores is held late July to early August. The main event is the Desfile de Silleteros, a colorful and artistic parade of flower filled saddles on the growers back. El Alumbrado is a traditional seasonal event where the city hangs millions of Christmas lights and holds light shows and other cultural events. National Geographic ranked Medellín Christmas lights display as one of the top 10 places to see Christmas lights in the world.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="name">Sightseeing</p>
        </div>
        <div class="col-md-9">
          <p>From the nightlife around parque Lleras to the nature found in parque Arvi and nearby Guatape, there is activites for everyone in Medellin. Botero Plaza, surrounded by the Museum of Antioquia and the Rafael Uribe Uribe Palace of Culture, is an outside park that displays 23 sculptures by Colombian artist Fernando Botero, who donated these and several other artworks for the museum's renovation in 2004. The plaza is located in an area of Medellín, Colombia known as the "Old Quarter".</p>
        </div>
      </div>
    </div>
    </div>
  </div>
