img {
  width: 500px;
  height: 350px;
  text-align: center;
}
.row {

}

.top-left {
    position: absolute;
    top: 8px;
    left: 225px;
    font-size: 35px;
    color: #fff!important;
    text-shadow: 1px 1px 1px #000;

}
