<!-- <div class="container"> -->
<h1>Featured Destinations</h1>
  <div class="row ">
    <div class="col-md-4 test">
      <img routerLink="colombia" src="./assets/colombia.jpeg" alt="">
      <div class="top-left">Colombia</div>
    </div>
    <div class="col-md-4 test">
      <img routerLink="italy"src="./assets/italy.jpg" alt="">
      <div class="top-left">Italy</div>
    </div>
    <div class="col-md-4 test">
      <img routerLink="iceland"src="./assets/iceland.jpg" alt="">
      <div class="top-left">Iceland</div>
    </div>
  </div>
<!-- </div> -->
