img {

  text-align: center;
  height: 100%;
  width: 100%;

}

h1.title {
  color: #fff!important;
  text-shadow: 1px 1px 1px #000;
}


.top-left {
    position: absolute;
    margin-left: 10px;
    top: 8px;
    font-size: 35px;
    color: #fff!important;
    text-shadow: 1px 1px 1px #000;
}

div.moveImage {
  margin: 10px;
  border: solid;

}
