div.body1 {
  background-image: url("/assets/ICE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 90px;
  padding-bottom: 90px;
}

div.moveBody {
  padding: 20px;
  border: solid;
  border-width: 1px;
  background-color: white;
  border-radius: 10px;
  opacity: .8;
}

h1.title {
  font-size: 100px;
}

div.top {
  margin-bottom: 50px;
}

div.move {
  margin-bottom: 30px;
}

p.name {
  font-size: 23px;
  font-weight: bold;
}
