<form class="example-form">
<mat-form-field class="example-full-width">
  <input matInput placeholder="Full Legal Name">
</mat-form-field>

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width">
    <input matInput placeholder="Depart from">
  </mat-form-field></td>
  <td><mat-form-field class="example-full-width">
    <input matInput placeholder="Arrive at">
  </mat-form-field></td>
</tr></table>

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width">
    <input matInput placeholder="Adults">
  </mat-form-field></td>
  <td><mat-form-field class="example-full-width">
    <input matInput placeholder="Children (6 and younger)">
  </mat-form-field></td>
</tr></table>

<p>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Departure Date">mm/dd/yyyy</textarea>
  </mat-form-field>
</p>

</form>
<app-featured></app-featured>
