
div.body1 {
  height: 1400px;
  background-image: url("/assets/Main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 90px;
  padding-bottom: 90px;
  font-family: times;
}

.input {



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;

}
