
<h1>Search for Flights</h1>

<div class="card card-body">

  <div>
    <label>Departure City</label>
    <br>
    <input #newDeparture>
  </div>

  <div>
    <label>Arrival City</label>
    <br>
    <input #newArrival>
  </div>

  <div>
    <label>Departure Date</label>
    <br>
    <input #newDepartDate>
  </div>

  <div>
    <label>Returning Date</label>
    <br>
    <input #newReturnDate>
  </div>

  <div>
    <label>How many passengers</label>
    <br>
    <select #newPassenger>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
  </div>

  <button routerLink="results">Search</button>
</div>
<app-featured></app-featured>