#projectTitle {
  float:left;
}
button{
  float:right;
}
#sweetBanner{
  height: 60px;
  visibility: hidden;
}
button.header{
  padding: 1px;
  margin: 3px;
  border-radius: 8px;
  border-color: #00000000;
  border-width: 3px;
}
