<div class="main">
  <div class="row">

    <div class="col-md-3">
      <div class="moveLogo">
        <a routerLink=''><img width="38px" height="25px" src="./assets/FF.png" alt="">Frugal Flyers</a>
      </div>
    </div>
    <div class="col-md-3">
      <button class="header" mat-button mat-raised-button color="accent" [matMenuTriggerFor]="destinations">Destinations</button>
      <mat-menu class="dropdown" #destinations="matMenu">
        <div class="testMove">

          <button routerLink="/colombia" mat-menu-item color="accent" class="test">Colombia</button>
          <button routerLink="/italy" mat-menu-item color="accent" class="test">Italy</button>
          <button routerLink="/iceland" mat-menu-item color="accent" class="test">Iceland</button>
          <button routerLink="/newzealand" mat-menu-item color="accent" class="test">New Zealand</button>
          <button routerLink="/croatia" mat-menu-item color="accent" class="test">Croatia</button>
          <button routerLink="/brazil" mat-menu-item color="accent" class="test">Brazil</button>
        </div>

      </mat-menu>
    </div>

    <div class="col-md-3">
      <button class="header" mat-button mat-raised-button color="accent" [matMenuTriggerFor]="flights">Deals & More</button>

      <mat-menu #flights="matMenu">
        <div class="testMove">
          <button routerLink="/deals" mat-menu-item color="accent" class="test">Deals</button>
          <button routerLink="/hotels" mat-menu-item color="accent" class="test">Hotels</button>
        </div>
      </mat-menu>
    </div>

    <div class=" col-md-3">
      <button class="header" routerLink='/about' mat-raised-button color="accent">The Team</button>
    </div>
  </div>
</div>
