<mat-toolbar class="row"color="primary">
  <div>
    <span class="col-md-5" color="accent" id="projectTitle"><a routerLink=''><img width="38px" height="25" src="./assets/FF.png" alt=""></a>Frugal Flyers</span>
  </div>
  <span class="col-md-2"></span>
  <button class="col-md-2 header" mat-button mat-raised-button color="accent" [matMenuTriggerFor]="destinations">Destinations</button>
  <mat-menu #destinations="matMenu">
    <button routerLink="/colombia" mat-menu-item color="accent">Colombia</button>
    <button routerLink="/italy" mat-menu-item color="accent">Italy</button>
    <button routerLink="/iceland" mat-menu-item color="accent">Iceland</button>
    <button routerLink="/newzealand" mat-menu-item color="accent">New Zealand</button>
    <button routerLink="/croatia" mat-menu-item color="accent">Croatia</button>
    <button routerLink="/brazil" mat-menu-item color="accent">Brazil</button>
  </mat-menu>
  <button class="col-md-2 header" mat-button mat-raised-button color="accent" [matMenuTriggerFor]="flights">Deals & More</button>
  <mat-menu #flights="matMenu">
    <button routerLink="/deals" mat-menu-item color="accent">Deals</button>
    <button routerLink="/hotels" mat-menu-item color="accent">Hotels</button>
  </mat-menu>
  <button  class="header col-md-2" routerLink='/about' mat-raised-button color="accent">The Team</button>
</mat-toolbar>
