<mat-toolbar color="primary">
  <span color="accent" id="projectTitle">Frugal Flyers <img src="./assets/FF.png" alt=""></span>
  <button routerLink='' mat-raised-button color="accent">
  Home</button>
  <button routerLink='/colombia' mat-raised-button color="accent">Colombia</button>
  <button routerLink='/italy' mat-raised-button color="accent">Italy</button>
  <button routerLink='/iceland' mat-raised-button color="accent">Iceland</button>
  <button mat-raised-button color="accent">Deals</button>
  <button routerLink='/about' mat-raised-button color="accent">The Team</button>
</mat-toolbar>
